#frontend/requirements_frontend.py

# Framework UI
streamlit==1.56.0
watchdog==6.0.0  # Optionnel mais recommandé par Streamlit pour le rechargement à chaud

# Communication avec le Backend
requests==2.33.1

# Visualisation & Graphiques
plotly==6.6.0

# Manipulation de données (Affichage)
pandas==3.0.2
openpyxl==3.1.5  # Moteur requis par pandas pour lire les fichiers Excel